:root {
  --mainBlue:#070753;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainRed : #790000;
  --lightRed : #e71c1c;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlue) !important;
}

.title-text {
  font-family: 'Viga', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--mainRed)!important;
}

/* Navbar Style */
.navbar {
  background-color: var(--mainRed);
}

.nav-link {
  color : var(--mainWhite) !important;

}

.fa-arrow-left {
  color : var(--mainWhite);
  font-size: 1.3rem; /* 1 rem = 60px */
  text-transform: capitalize;
}

.btn {
  color: var(--mainWhite) !important;
  background-color: transparent;
  border: transparent 1px solid !important;
  border-radius: 9px !important;
  padding : 0.2rem 0.5rem !important;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--lightRed);
  transition: all 0.5s ease-in-out;
}

.btn:focus {
  outline: none;
}

/* Product Image */
.card {
  border-color: transparent!important;
  transition: all 0.5s linear;
}

.card:hover {
  border : 0.04rem solid rgba(35, 37, 40, 0.2) !important;
  box-shadow: 2px 2px 5px 0px rgba(35, 37, 40, 0.2)!important;
}

.card-footer {
  text-align: center;
  transition: all 0.5s linear;
}

.card-footer:hover {
  background : rgba(30, 120, 204, 0.568)!important;
}

.card-title {
  border-bottom:  rgba(35, 37, 40, 0.3) 1px solid !important;
  padding-bottom: 0.8rem
}

.card-img-top {
  transition: all 0.2s linear;
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container:hover .card-img-top {
  transform : scale(1.2);
}

.cart-btn {
  position : absolute ;
  bottom: 0;
  right:0;
  padding: 0.2rem 0.4rem;
  background: rgb(30, 120, 204);
  border :none;
  color:rgb(68, 68, 68);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform:translate(100%,100%);
  transition: all 0.2s linear;
}

.img-container:hover .cart-btn {
  transform: translate(0,0)
}

.cart-btn:hover {
  color: rgb(10, 10, 10)
}

/* Details.js */
.btn-backToProducts {
  background-color: transparent !important;
  color: var(--mainRed) !important;
  border-color: var(--mainRed) !important;
}
.btn-backToProducts:hover {
  background-color: var(--mainRed)!important;
  color: var(--mainWhite) !important;
  border-color: none !important;
}

.btn-addToCart {
  background-color: transparent !important;
  color: var(--lightBlue)!important;
  border-color: var(--lightBlue)!important;
}
.btn-addToCart:hover {
  background-color: var(--lightBlue) !important;
  color: var(--mainWhite)!important;
  border-color: none !important;
}